* {
	font-family: arial, sans-serif;
	background-color: #ccc; 
	/*border:1px solid black;  Just for viewing box activities */
  box-sizing: border-box;

}

.navLinks li {
	list-style: none;
	display: inline-block;
	background-color: grey;
  padding:5px;
  margin: 2px;
}